---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/store?per_page=100&order=asc`);
const stores = await res.json();
---

<Layout title="日本酒ゴーアラウンド大阪2023 公式サイト">
	<main>
		<div class="main-visual">
			<div class="main-visual__stage">
				<div class="main-visual__stage-inner">
					<div class="container">
						<img src="/assets/images/base.png" alt="" width="1830" height="775">
					</div>
				</div>
			</div>
			<div class="main-visual__bg bg1"></div>
			<div class="main-visual__bg bg2"></div>
			<div class="main-visual__line-start"></div>
			<div class="main-visual__line-end"></div>
		</div>
		<section>
			<div class="container">
			<h2>参加店舗一覧</h2>
			<ul class="store-list" role="list">
				{
					stores.map((store:any) => (
						<li class="store-item"><a href={`/blog/${store.slug}`} class="store-link">{store.title.rendered}</a></li>
					))
				}
			</ul>
			</div>
		</section>
	</main>
</Layout>

<script>
	import gsap from 'gsap';
	import ScrollTrigger from 'gsap/ScrollTrigger';

	// gsap.registerPlugin(ScrollTrigger);
	gsap.timeline({ repeat: 0, repeatDelay: 0.5 })
	.to(".main-visual__bg", { scale: 1, duration: .5, ease: "Power1.easeOut" }).to(".main-visual__bg", { borderRadius: 0})
	.to(".main-visual__line-start", { x: 0, duration: .5 }, "-=0.9")
	.to(".main-visual__line-end", { x: 0, duration: .5 }, "-=0.9")
	.to(".main-visual__stage", { opacity: 1, duration: 0 })
		.to(".main-visual__bg.bg1", {x: '-100%', duration: 2, ease: "Power4.easeOut"})
		.to(".main-visual__bg.bg2", {x: '100%', duration: 2, ease: "Power4.easeOut"}, "-=2");
</script>
<style lang="scss">
	main {
		margin: auto;
		color: var(--font-color);
		font-size: 20px;
		line-height: 1.6;
	}
	.main-visual {
		position: relative;
		display: grid;
		height: 100vh;
		height: 100dvh;
		overflow: hidden;
		background: url(/assets/images/logo.svg) no-repeat center/200px;
	}
	.main-visual__bg {
		position: absolute;
		align-self: center;
		justify-self: center;
		width: 100vmax;
		height: 100vmax;
		background-color: #E7A7B4;
		scale: 0;
		border-radius: 50%;
		&.bg1 {
			clip-path: polygon(0 0,50% 0,50% 100%, 0 100%);
		}
		&.bg2 {
			clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
		}
	}
	.main-visual__stage {
		width: 100%;
		height: 100%;
		background-color: #E7A7B4;
		background-image:
			radial-gradient(rgba(255,255,255,0.15) 35%, transparent 35%),
			radial-gradient(rgba(255,255,255,0.15) 35%, transparent 35%);
		background-size: 200px 200px;
		background-position: 0 0, 100px 100px;
		opacity: 0;
	}
	.main-visual__line-start,
	.main-visual__line-end {
		position: absolute;
		left: 0;
		right: 0;
		height: 5%;
		max-height: 50px;
		background-image: repeating-linear-gradient(45deg, white, white 15px, #D2E7DB 15px, #D2E7DB 30px, white 30px, white 45px, #F6DFE2 45px, #F6DFE2 60px);
	}
	.main-visual__line-start {
		top: 0;
		translate: 100%
	}
	.main-visual__line-end {
		bottom: 0;
		translate: -100%;
	}

	.store-list {
		padding-left: 0;
		list-style: none;
		display: grid;
		gap: 1rem;
		//grid-template-columns: repeat(2, 1fr);
	}
	.store-link {
		color: inherit;
		text-decoration: none;
		pointer-events: none;
	}
</style>
